/* src/components/SubNav.module.css */
.subNav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--color-light-gray);
  border-bottom: 1px solid #ddd;
}

.subNav a {
  color: var(--color-dark-gray);
  text-decoration: none;
  font-family: var(--font-montserrat);
  font-weight: 600;
  padding-bottom: 0.5rem;
  position: relative;
}

.subNav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.subNav a:hover::after,
.subNav a.active::after { /* Usamos la clase 'active' de NavLink */
  transform: scaleX(1);
}