/* src/app/recursos/Recursos.module.css */
.pageContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 2rem;
}
.pageContainer h1, .intro {
  text-align: center;
}
.intro {
  max-width: 700px;
  margin: 1rem auto 3rem auto;
  font-size: 1.1rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}